<% include partial/head %>
<% include partial/nav %>


      <div class="container">
        <!-- Page Content goes here -->
            <h3 class="center arial">  Welcome <%= currentUserName %> !</h3>

            <% if(!currentUserLink) { %>
                <p class="center"> You do not have a store, create your store using the form below</p>
            
            <div class="input-field center col s6">
                <form action="/dashboard" method="POST">
                <input type="text" name="storename" id="storename">
                <button class="waves-effect waves-light btn btn-large">
                    <i class="material-icons left">create</i> Create  Store
                </button>
                </form>
            </div>   
            </div>
            <% } %>
                <strong> <%= currentUserLink %> </strong>
          
            
