<% include partial/head %>
<body>

<nav>
  <div class="nav-wrapper teal">
    <a href="#!" class="brand-logo top-text"> <i class="material-icons left">shopping_cart</i> Ugele </a>
    <ul class="right hide-on-med-and-down">
      <li><strong><a class="white-text" href="#"><i class="material-icons left">phone</i>Contact Us</a></strong></li>
    </ul>
  </div>
</nav>
<div class="slider">
    <ul class="slides"> 
      <li>
        <img src="http://www.workathomenoscams.com/wp-content/uploads/2015/12/instacart-get-paid-to-grocery-shop.jpg">
        <div class="caption left-align">
          <h2>247 SUPPORT</h2>
          <h4> Yes, we genuinely care about you </h4>
        </div>
      </li>
    <li>
        <img src="http://s3.amazonaws.com/iexplore_web/images/assets/000/013/398/full/Shopping_Bangaldesh.jpg?1465235901">
        <div class="caption left-align">
          <h2>100% FREE</h2>
          <h4> Because every human deserves a store </h4>
        </div>
      </li>

      <li>
        <img src="https://s3.amazonaws.com/citybuzz/2016/01/memphis-real-estate-market-trends/memphis-real-estate-market-trends-4.jpg">
        <div class="caption left-align">
          <h2>SELL ANYTHING</h2>
        <h4> It is your basic human right! </h4>
        </div>
      </li>
  </ul>
</div>


<div class="container center body-container">
    <h3 class="center top-text teal-text"> One human, one store, at last! </h3>
    <a href="/signup" class="waves-effect waves-light btn btn-large"><i class="material-icons left">shop_two</i> Register</a>
    <a href="/login" class="waves-effect waves-light btn btn-large login-btn"><i class="material-icons left">input</i> Log in</a>

<br />
</div>

