<title> <%= title %> </title>        

<form class="" action="signup" method="POST">
        <h3> Create an account </h3>
        
        
        <div class="input-field ">
                <input name="lastname" id="lastname" type="text" class="validate" require>
                <label for="lastname">Last name</label>
        </div>

        
        <div class="input-field ">
                <input name="email" id="email" type="email" class="validate" require>
                <label for="email">Email</label>
        </div>



        <div class="input-field ">
                <input name="password" id="password" type="password" class="validate" require>
                <label for="password">Password</label>
        </div>


        <div class="input-field">
                <button class="">
                Register
                </button>
        </div>
</form>