<% include partial/head %>
<style>

</style>
<body translate="no" >

<ul class="product-list">
  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/1/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>

  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/2/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <small class="new absolute">New</small>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>


  
  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/2/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <small class="new absolute">New</small>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>


  
  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/2/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <small class="new absolute">New</small>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>



  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/2/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <small class="new absolute">New</small>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>




  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/2/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <small class="new absolute">New</small>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>




  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/2/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <small class="new absolute">New</small>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>

  <li class="relative">
    <img class="radius" src="http://lorempixel.com/200/300/fashion/3/" alt="Brand Name | Product Name" width="200" height="300" />
    <h3 class="brand-name"><a href="#brand-page" title="Brand Name">Brand Name</a></h3>
    <h2 class="product-name"><a href="#product-page" title="Product Name">Product Name</a></h2>
    <small class="new absolute">New</small>
    <a class="add-to-favorites relative hover" href="#favorite" title="Add to favorites">Add to favorites</a>
    <a class="add-to-cart absolute radius hover" href="#buy-now" title="Buy now">Buy now</a>
    <a class="share share-facebook absolute hover" href="#share-facebook" title="Share on Facebook">f</a>
    <a class="share share-twitter absolute hover" href="#share-twitter" title="Share on Twitter">t</a>
  </li>
</ul>
</body>