html { 
  /*background: url(images/bg2.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-text{
    color: #26a69a;
    font-size: 70px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.details{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.uppercase{
    text-transform: uppercase;
    font-weight: bold;
}

.arial{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.teal-text{
    color: #26a69a;
}

.app-description{
    word-spacing: 0.3em;
}
.nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.description-text{
    letter-spacing: 0.01em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    margin-top: 50px;
}

.signin-btn{
    margin-right: 35px;
}

.card-action a{
    /*color: #FFF !important;*/
}

.black{
    color: #000;
}

#task_title{
    margin-left: 5px;
}

.hide{
    display: none;
}

.btn-task-done {
    margin-top: 20px;
    float: right;
    left: 0;
    width: 30%;
}
