<ul id="dropdown1" class="dropdown-content">
	<li><a href="/logout">Logout</a></li>
</ul>
<nav>
	<div class="nav-wrapper teal">
		<a href="#!" class="brand-logo top-text"> Ugele <i class="material-icons left">shopping_cart</i></a>
		<ul class="right hide-on-med-and-down">
			<!-- Dropdown Trigger -->
			<li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">account_box</i><%= currentUserName %></a></li>
		</ul>
	</div>
</nav>