  <p class="center"> Create your free store</p>
            

                    <div class="center">
                     <div class="card small teal col s6 form-card">
                        <div class="card-content white-text">
                        <span class="card-title white-text">SET UP STORE </span>
                       <!--  <p class="center"> Input Store Name </p> -->

                            <div class="center">
                                <form action="/dashboard" method="POST">

                                        <div class="input-field">
                                             <input name="storename" placeholder="STORE NAME" id="storename" type="text" class="validate storename" required>
                                             <!-- <input max-length="20" name="storelink" id="storelink" type="text" value=<%= freeUrl %> disabled required hidden> --> 
                                        </div>
                                        <div class="input-field">
                                        <button class="waves-effect waves-light btn btn-large" type="submit">
                                            <i class="material-icons left">create</i> Create Store
                                        </button>
                                        </div>
                                </form>
                            </div>   
                         </div>
                    </div>
                    </div>
                </div>